@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(187, 190, 192);
    overflow: scroll;
    display: flex;
    flex-direction: row;

}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid;
    padding: 20px;
}

.row {
    display: flex;
    border: 2px solid ;
    padding: 10px;
    flex-direction: column;
}

.row2 {
    display: flex;
    border: 2px solid ;
    padding: 10px;
    flex-direction: column;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
    border-radius: 30px;
    padding: 30px;
    background-color: rgb(236, 236, 236);
}

 p,h2  {
    text-align: center;
}

img {
    border: 2px solid;
    height: 50em;
    width: 50em;
}

button {
    margin-top: 10px;
    border: 1px solid ;
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    width: 10rem;
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: rgb(245, 244, 244);

}